<a href="https://colab.research.google.com/github/vanand102/DataScienceGuidedCapstone/blob/master/Country_Club.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
#Import folder
import sys
sys.path.append('/content/drive/MyDrive/Springboard/SQL - Country Club')

In [19]:
import sqlite3
import pandas as pd

Query 10

In [20]:
query = "SELECT Bookings.facid,Facilities.name,SUM( CASE WHEN Bookings.memid = 0 THEN Bookings.slots * Facilities.guestcost ELSE Bookings.slots * Facilities.membercost END ) AS total_revenue FROM Bookings INNER JOIN Facilities ON Facilities.facid = Bookings.facid INNER JOIN Members ON Members.memid = Bookings.memid GROUP BY Facilities.name HAVING total_revenue <1000;"
con = sqlite3.connect('/content/drive/MyDrive/Springboard/SQL - Country Club/sqlite_db_pythonsqlite.db')
df = pd.read_sql_query(query, con)
con.close()
df

   facid           name  total_revenue
0      8     Pool Table            270
1      7  Snooker Table            240
2      3   Table Tennis            180

Query 11

In [33]:
query = "SELECT DISTINCT m1.surname, m1.firstname, m2.firstname || ' ' || m2.surname as recommended_by FROM Members m1 LEFT JOIN Members m2 ON m1.recommendedby = m2.memid WHERE m1.surname <> 'GUEST' AND m2.surname <> 'GUEST' ORDER BY m1.surname, m1.firstname;"
con = sqlite3.connect('/content/drive/MyDrive/Springboard/SQL - Country Club/sqlite_db_pythonsqlite.db')
df = pd.read_sql_query(query, con)
con.close()
df

              surname  firstname     recommended_by
0               Bader   Florence    Ponder Stibbons
1               Baker       Anne    Ponder Stibbons
2               Baker    Timothy     Jemima Farrell
3              Boothe        Tim         Tim Rownam
4             Butters     Gerald       Darren Smith
5              Coplin       Joan      Timothy Baker
6             Crumpet      Erica        Tracy Smith
7                Dare      Nancy    Janice Joplette
8             Genting    Matthew     Gerald Butters
9                Hunt       John  Millicent Purview
10              Jones      David    Janice Joplette
11              Jones    Douglas        David Jones
12           Joplette     Janice       Darren Smith
13          Mackenzie       Anna       Darren Smith
14               Owen    Charles       Darren Smith
15             Pinker      David     Jemima Farrell
16            Purview  Millicent        Tracy Smith
17             Rumney  Henrietta    Matthew Genting
18             Sarwin  Ramnaresh     Florence Bader
19              Smith       Jack       Darren Smith
20           Stibbons     Ponder       Burton Tracy
21  Worthington-Smyth      Henry        Tracy Smith

Query 12

In [25]:
query = "SELECT Facilities.name,SUM( CASE WHEN Bookings.memid != 0 THEN Bookings.slots ELSE 0 END ) AS total_slots_usage FROM Bookings INNER JOIN Facilities ON Facilities.facid = Bookings.facid GROUP BY Facilities.name;"
con = sqlite3.connect('/content/drive/MyDrive/Springboard/SQL - Country Club/sqlite_db_pythonsqlite.db')
df = pd.read_sql_query(query, con)
con.close()
df

              name  total_slots_usage
0  Badminton Court               1086
1   Massage Room 1                884
2   Massage Room 2                 54
3       Pool Table                856
4    Snooker Table                860
5     Squash Court                418
6     Table Tennis                794
7   Tennis Court 1                957
8   Tennis Court 2                882

Query 13

In [34]:
query = "SELECT f.name as facility, strftime('%m', starttime) as month, ROUND(SUM(b.slots)/2, 1) as hours_booked FROM Bookings b LEFT JOIN Facilities f ON b.facid = f.facid WHERE b.memid <> 0 GROUP BY f.name, strftime('%m', starttime);"
con = sqlite3.connect('/content/drive/MyDrive/Springboard/SQL - Country Club/sqlite_db_pythonsqlite.db')
df = pd.read_sql_query(query, con)
con.close()
df

           facility month  hours_booked
0   Badminton Court    07          82.0
1   Badminton Court    08         207.0
2   Badminton Court    09         253.0
3    Massage Room 1    07          83.0
4    Massage Room 1    08         158.0
5    Massage Room 1    09         201.0
6    Massage Room 2    07           4.0
7    Massage Room 2    08           9.0
8    Massage Room 2    09          14.0
9        Pool Table    07          55.0
10       Pool Table    08         151.0
11       Pool Table    09         221.0
12    Snooker Table    07          70.0
13    Snooker Table    08         158.0
14    Snooker Table    09         202.0
15     Squash Court    07          25.0
16     Squash Court    08          92.0
17     Squash Court    09          92.0
18     Table Tennis    07          49.0
19     Table Tennis    08         148.0
20     Table Tennis    09         200.0
21   Tennis Court 1    07         100.0
22   Tennis Court 1    08         169.0
23   Tennis Court 1    09         208.0
24   Tennis Court 2    07          61.0
25   Tennis Court 2    08         172.0
26   Tennis Court 2    09         207.0